body{
  background-image: url("../img/backg.jpeg");
  margin-left: 20px;
  margin-right: 20px;
   background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center;
  padding: 20x;
}
nav{
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  color: black;
}
#ben{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-color: blue;
    
}



.rules{
  text-align: center;
  color: black;
}
#player1-scorecard {
  
    color: aqua;
   }
   .card{
     margin-left: 2opx;
     margin-right: 20px;
   }

  #player1{
    
    margin-left: 20px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20xp;
  }
  
   #player2-scorecard {
    color: aqua;
  }
   
  .col {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
  }
 
  #rollDisplay {
  color: aqua;
  }
   
  #reset-btn {
    color: aqua;
  }
  footer{
    background-color: slategray;
  }
  